---

---

<button class="hamburger hamburger--collapse" type="button">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>

<style>
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.active {
  background-color: #fff;
}
</style>
<script>
    import '../scripts/menu';
</script>
